transformers
torch
scikit-learn
pandas
numpy
nltk
spacy
networkx
streamlit
requests
beautifulsoup4
scipy
plotly
regex
matplotlib
seaborn
PyMuPDF
pdfplumber
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
